<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hlala Nathi - Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Hlala Nathi</a><button class="navbar-toggler navbar-toggler-right" style="margin-right: 15%" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Register</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" id="adminlogin" href="#admin">Admin login</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Student Placement Corporation!</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">You know where you'll study, we know where you'll stay!</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">We've got what you need!</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">We place learners in accredited student accommodations in johannesburg! Free of charge! No strings attached!</p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Get Started!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Convenient</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Effortless</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-dollar-sign text-primary mb-4"></i>
                            <h3 class="h4 mb-2">Free of charge</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">No strings attached</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

                <!-- Contact-->
        <section style="display:none" class="page-section" id="admin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Admin login!</h2>
                        <hr class="divider my-4" />
                        <div id="messages" class="hide" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <div id="messages_content"></div>
                        </div> <br>
                        <form action="/login" id="form" method="POST">
                          <div class="row">
                            <div class="col">
                                <input type="text" placeholder="username" name="username">
                            </div>
                            <div class="col">
                                <input type="text" placeholder="password" name="password">
                            </div>
                          </div>
                        <br>

                          <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>

            </div>
        </section>


        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Sign on!</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Ready to start looking for your accommodation? register with us and we will get back to you as soon as possible!</p>
                        <div id="messages" class="hide" role="alert">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <div id="messages_content"></div>
                        </div> <br>
                        <form action="/" id="form" method="POST">
                          <div class="row">
                            <div class="col">
                                {{form.name(placeholder="First Name")}}
                            </div>
                            <div class="col">
                                {{form.lastname(placeholder="Last Name")}}
                            </div>
                          </div>
                        <div class="row">
                            <div class="col">
                                {{form.gender(placeholder="Gender")}}
                            </div>
                            <div class="col">
                                {{form.idnumber(placeholder="ID Number")}}
                            </div>
                          </div>
                        <div class="row">
                            <div class="col">
                                {{form.cell(placeholder="Cell Number")}}
                            </div>
                            <div class="col">
                                {{form.email(placeholder="Email Address")}}
                            </div>
                          </div>
                        <div class="row">
                            <div class="col">
                                {{form.school(placeholder="Current School")}}
                            </div>
                            <div class="col">
                                {{form.university(placeholder="University of choice")}}
                            </div>
                          </div>
                        <div class="row">
                            <div class="col">
                                {{form.choice(placeholder="Choice of study")}}
                            </div>
                            <div class="col">
                                {{form.sponsor(placeholder="Financial Sponsor")}}
                            </div>
                          </div>
                        <br>

                          <button type="submit" class="btn btn-primary" onsubmit="alert('Your details were successfully recieved, we will contact you soon.')">Submit</button>
                    </form>
                    </div>
                </div>

            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Hlala Nathi</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        $('#form').submit(function(e) {
               $("#form").submit(); // Submit the form

                $('#messages').removeClass('hide').addClass('alert alert-success alert-dismissible').slideDown().show();
                $('#messages_content').html('<p>Successfully registered, we will contact you soon.</p>');
                $('#modal').modal('show');
                e.preventDefault();
            });
        $('#adminlogin').click(function () {
            $('#admin').css('display', 'block');
            $('body, html').animate({
              scrollTop: $("#admin").offset().top
            }, 100);
        })
    </script>
    </body>
</html>
